.login-page {
  background-image: url("../assets/images/backgroundImage.jpg");
  object-fit:fill;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  .login-form {
    width: 320px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form label {
    font-size: 14px;
    font-weight: bold;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .login-form button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .login-form p {
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
  }
  
  .login-form p a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    text-align: center;
  }
  
  .login-form p a:hover {
    text-decoration: underline;
  }
  
  /* Add style to make the register link always visible */
  .login-form p a.register-link {
    visibility: visible;
  }
  